<table class="table table-bordered" *ngIf="stdArr;else noSTD">
    <thead>
        <tr>
            <th>SRNO</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            <th>CONTACT</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let std of stdArr,index as i">
          <td>{{i+1}}</td>
          <td>{{std.fname}}</td>
          <td>{{std.lname}}</td>
          <td>{{std.email}}</td>
          <td>{{std.contact}}</td>
          <td>
            <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button> 
          </td>
          <td>
            <button
            (click)="onstdremove(std.id)"
            mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
          </td>
       </tr>
    </tbody>
</table>
<ng-template #noSTD>
   <p class="alert alert-info p-4">NO STUDENT</p>
</ng-template>